doctype html
-var $pageName="homepage";
html(lang="en")
    head
        include pug/layouts/links.pug
    body 
        include pug/layouts/header.pug
        include pug/layouts/homepage.pug
        include pug/layouts/scripts.pug