doctype 
html 
    head
        include ./pug/components/links.pug
    body 
        div.container 
            h3 helloh
            p hello from div reload2
        include ./pug/components/scripts.pug