header.header-main
  .container 
    .logo 
      img(src="./assets/img/logo.svg")
    .links 
      button.side-bar-btn 
        svg.fa.fa-solid.fa-bars.fa-2x
      ul
        li
          a.nav-link
            svg.fa.fa-solid.fa-house-user(width='24' height='24')
            span Home
        li
          a.nav-link
            svg.fa.fa-solid.fa-gauge(width='24' height='24')
            span Dashboard
        li
          a.nav-link
            svg.fa.fa-solid.fa-hand-holding-dollar(width='24' height='24')
            span Services
        li
          a.nav-link
            svg.fa.fa-solid.fa-people-roof(width='24' height='24')
            span About Us
        li
          a.nav-link
            svg.fa.fa-solid.fa-gem(width='24' height='24')
            span Portfolio
        li
          a.nav-link
            svg.fa.fa-solid.fa-phone-volume(width='24' height='24')
            span Contact Us