section.home   
  .container.slider 
    h1.head-ti 
      | kira
      span X
      | desu
    .box.slider-item.indexed
      .card 
        img(src="./assets/img/shuffle-01.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | takes forever
          svg.fa.fa-solid.fa-1x.fa-quote-right 
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-02.jpg")
        h3 its
          svg.fa.fa-circle-dot.fa-1x
          | never too late
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-03.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | will happen
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-04.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | need faith
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-05.jpg")
        h3 It
          svg.fa.fa-circle-dot.fa-1x
          | hapens too fast
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-06.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | won't last 
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-07.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | changes
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-08.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | never let go
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-09.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | might forget
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        img(src="./assets/img/shuffle-10.jpg")
        h3 it
          svg.fa.fa-circle-dot.fa-1x
          | heals itself
          svg.fa.fa-solid.fa-1x.fa-quote-right
        div
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, quas! Illo exercitationem numquam, amet fugiat consequuntur ad distinctio similique. Voluptate ad mollitia maxime culpa officia dolor cum quo nostrum. Praesentium!
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    p.desc 
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officiis consequatur, quam eum minima libero nihil consequuntur fugit reprehenderit eaque provident expedita perferendis nam doloremque! Pariatur voluptatum maiores porro voluptate?
section.services 
  .container 
    - $section_icon="fa fa-solid fa-hand-holding-dollar fa-3x"
    - $section_name="services"
    include ../components/section_header.pug
    div.serv-desc.slide.slide-out
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      | What we provide 
      svg.fa.fa-solid.fa-question
    div.boxes.slide.slide-out 
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
      .box 
        svg.fa.fa-solid.fa-2x.fa-gem 
        .desc 
          h3 
            | Service 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
section.portfolio 
  .container 
    - $section_icon="fa fa-diagram-project fa-3x"
    - $section_name="projects"
    include ../components/section_header.pug
    div.proj-desc.slide.slide-out
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      | Our projects 
      svg.fa.fa-solid.fa-code-fork
    div.content.slide.slide-out
      .our-content
        .definition
          h3 What we do
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis
        .gallery
          img(src="./assets/img/logo.png")
          img(src="./assets/img/logo.png")
          img(src="./assets/img/logo.png")
          img(src="./assets/img/logo.png")
      .skills 
        .difinition
          h3 What we use 
            p 
              | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore
        .carousel 
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          .skill 
            p 
              | The skill short description
            svg
          
    div.proj-desc.slide.slide-out
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      svg.fa.fa-solid.fa-chevron-right
      | Current projects 
      svg.fa.fa-solid.fa-code-fork
    div.boxes.slide.slide-out 
      .card
        img(src="assets/img/logo.svg")
        svg.fa-brands.fa-2x.fa-github
        .desc 
          h3 
            | Project 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
          a(href="")
            | Go to project
      .card
        img(src="assets/img/logo.svg")
        svg.fa-brands.fa-2x.fa-github
        .desc 
          h3 
            | Project 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
          a(href="")
            | Go to project
      .card
        img(src="assets/img/logo.svg")
        svg.fa-brands.fa-2x.fa-github
        .desc 
          h3 
            | Project 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
          a(href="")
            | Go to project
      .card
        img(src="assets/img/logo.svg")
        svg.fa-brands.fa-2x.fa-github
        .desc 
          h3 
            | Project 
          p 
            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo totam fugiat, laudantium reiciendis, error aliquam ex assumenda dicta sint cupiditate magni asperiores, ipsam illo dolore perspiciatis deserunt non minus provident.
          a(href="")
            | Go to project