section.home   
  .container.slider 
    h1.head-ti 
      |kiraxdesu
    .box.slider-item.indexed
      .card 
        | hello 1
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 2
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 3
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 4
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 5
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 6
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 7
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 8
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 9
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    .box.slider-item.hidden
      .card 
        | hello 10
      svg.prev.fa-solid.fa-circle-chevron-left.fa-2x
      svg.next.fa-solid.fa-circle-chevron-right.fa-2x
    p.desc 
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officiis consequatur, quam eum minima libero nihil consequuntur fugit reprehenderit eaque provident expedita perferendis nam doloremque! Pariatur voluptatum maiores porro voluptate?