// primary colors
$primary:#00004f;
$primary-dark:#000028;
$primary-light:#3a277c;
$primary-text:#ffffff;

// secondary colors
$secondary:#000091;
$secondary-dark:#000062;
$secondary-light:#5231c3;
$secondary-text:#ffffff;

// middle color;
$middle:#FFFFFF;

//highlighted colors
$highlight-color-red:#f05454;
$highlight-color-red-dark:#dd3636;
$highlight-color-silver :#607d8b;
$highlight-color-azure:#00bcd4;
$highlight-color-black:#000;


// buttons Colors
$loginColor:#76ff03;
$signupColor:#00e5ff;