// screen paddings
$xxs-padding:8px;
$xs-padding:30px;
$sm-padding:60px;
$md-padding:120px;
$lg-padding:180px;
$xl-padding:280px;

// sections paddings
$section-padding:72px;

//text paddings

$big-title-padding:40px;
$title-padding:30px;
$small-title-padding:20px;
$text-padding:10px;

// icons padding 
$icon-padding:15px;
$small-icon-padding:10px;
$big-icon-padding:25px;