@use "../variables/colors" as *;
@use "../variables/transitions" as *;
@use "../variables/fontSize" as *;
@use "../helpers/mixins" as *;
@use "../variables/paddings" as *;
@use "../components/media_queries" as *;
// start media queries
// end media queries
@include md-screen {
  .links {
    min-width:600px ;
  }
}
@include lg-screen {
  .links {
    min-width:750px ;
  }
}
.header-main {
  width:100%;
  height:72px;
  top:0%;
  position:fixed;
  z-index: 900;
  color:$primary-text;
  .container {
    @include flx(space-between);
    height:100%;
    background-color:$primary-dark;
    .logo {
      width:60px;
      height:60px;
      margin-left:15px;
      position:relative;
      img {
        width:100%;
        color:$primary-text;
      }
    }
    .links {
      height:100%;
      @include flx(center);
      .side-bar-btn {
        outline:none;
        margin-right:15px;
        display:none;
        background-color:transparent;
        width:50px;
        height:50px;
        color:$primary-text;
        border:none;
        &:hover {
          color:$secondary-light;
          transition:$normal;
        }
      }
      ul {
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        list-style: none;
        li {
          height:100%;
          margin-left:2px;
          margin-right:2px;
          min-width:100px;
          a {
            @include flx(center);
            width:100%;
            height:100%;
            flex-direction: column;
            svg {
            padding:5px;
          }
          &:hover {
            color:$secondary-light;
            transition:$normal;
          }
          }
          
        }
        &.side-bar {
          display:flex !important;
          background-color:$primary-dark;
          position:fixed;
          z-index: 990;
          height:100vh;
          top:0px;
          right:0px;
          flex-direction: column;
          width:100%;
          transition:$normal;
          transform: translateX(100%);
          li {
            height: 60px;
            width: 200px;
            margin: 10px 0px;
          }
          &.on {
            transform: translateX(0%);
            transition:$normal;
          }
        }
      }
    }
  }
}